.wrapper {
    height: 100vh;
    background-color: rgba(103, 236, 255, 0.62);
}

.container {
    align-items: flex-start;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts input {
    display: block;
    margin-bottom: 5px;
}

.contacts button {
    width: 90px;
}

.contacts h2 {
    background-color: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100px
}