.skillsBlock {
    min-height: 100vh;
    background-color: greenyellow;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.skillsContainer h2 {
    background-color: red;
}

.skills {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}